html {
  margin: auto;
}

body {
  height: 90vh; /* fallback if svh isn't handled */
  height: 98svh;
  width: 100vw;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;

  --square-diameter: 19vmin; /* fallback (if clamp is not supported) */

  vertical-align: middle;
  margin: 0;
  background:
    linear-gradient(rgba(242, 234, 150, 0.5), rgba(217, 200, 43, 0.5)),
    url("./images/backgrounds/sand_texture.svg");
  background-attachment: fixed;

  --default-font-size: min(0.9cm, 5vmin);

  font-size: var(--default-font-size);

  --water-color: rgb(0, 234, 255);
  --dark-water-color: rgb(125, 213, 245);
}

h1 {
  font-size: calc(var(--default-font-size) * 1.2);
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  font-size: calc(var(--default-font-size) * 2);
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  border: 0;
  padding: 1px 6px;
  background-color: transparent;
}

button:disabled {
  color: darkgray;
}

button:active {
  color: black;
  font-weight: bold;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#game {
  display: grid;
  grid-template-areas: "controlBar offer game scores";
  justify-content: center;
  gap: calc(var(--square-diameter) * 0.2);
  margin: 0 calc(var(--square-diameter) * 0.2);
}

#board {
  height: calc(var(--square-diameter) * 5);
  border: 3px rgb(150, 200, 230) solid;
  border-radius: 10px;
  background-color: var(--dark-water-color);
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(7, var(--square-diameter));
  grid-template-rows: repeat(10, calc(var(--square-diameter) / 2));
  align-self: center;
}

.square {
  height: var(--square-diameter);
  width: var(--square-diameter);
}

.square.filled.draw-pile {
  background: url("./images/button_icons/monkey_3_teal.svg");
  background-color: var(--water-color);
  background-size: contain, auto;
  box-shadow: var(--deck-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--square-diameter) * 0.5);
}

.square.filled.tile0 {
  background: url("./images/tiles_200/Monkeys_Tile_1.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile1 {
  background: url("./images/tiles_200/Monkeys_Tile_2.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile2 {
  background: url("./images/tiles_200/Monkeys_Tile_3.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile3 {
  background: url("./images/tiles_200/Monkeys_Tile_4.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile4 {
  background: url("./images/tiles_200/Monkeys_Tile_5.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile5 {
  background: url("./images/tiles_200/Monkeys_Tile_6.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile6 {
  background: url("./images/tiles_200/Monkeys_Tile_7.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile7 {
  background: url("./images/tiles_200/Monkeys_Tile_8.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile8 {
  background: url("./images/tiles_200/Monkeys_Tile_9.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile9 {
  background: url("./images/tiles_200/Monkeys_Tile_10.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile10 {
  background: url("./images/tiles_200/Monkeys_Tile_11.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile11 {
  background: url("./images/tiles_200/Monkeys_Tile_12.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile12 {
  background: url("./images/tiles_200/Monkeys_Tile_13.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile13 {
  background: url("./images/tiles_200/Monkeys_Tile_14.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile14 {
  background: url("./images/tiles_200/Monkeys_Tile_15.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile15 {
  background: url("./images/tiles_200/Monkeys_Tile_16.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile16 {
  background: url("./images/tiles_200/Monkeys_Tile_17.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile17 {
  background: url("./images/tiles_200/Monkeys_Tile_18.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile18 {
  background: url("./images/tiles_200/Monkeys_Tile_19.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

.square.filled.tile19 {
  background: url("./images/tiles_200/Monkeys_Tile_20.webp");
  background-color: var(--water-color);
  background-size: contain, auto;
}

#offer-area {
  display: flex;
  flex-direction: column;
  touch-action: none;
  justify-content: space-evenly;
}

.filled.offer-tile {
  box-shadow: -4px 4px 3px -2px darkgrey;
}

.dragged.offer-tile {
  opacity: 50%;
}

.drag-tile {
  /* position, top, left are set in the jsx */

  /* need to set pointer events to none so that pointer events on the board under this can fire */
  pointer-events: none;
}

#off-board {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
}

.score {
  font-weight: bold;
  font-size: calc(var(--default-font-size) * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
}

.score-icon {
  width: calc(var(--square-diameter) * 0.8);
  height: calc(var(--square-diameter) * 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.score-icon.red {
  background-image: url("./images/button_icons/red_icon.svg");
}

.score-icon.blue {
  background-image: url("./images/button_icons/blue_icon.svg");
}

.red-score {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.blue-score {
  align-items: center;
  color: blue;
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
}

.red-score.currentColor {
  border-radius: 5px;

  /* use box-shadow instead of border to prevent jumping */
  box-shadow: inset 0 0 0 3px red;
}

.blue-score.currentColor {
  border-radius: 5px;

  /* use box-shadow instead of border to prevent jumping */
  box-shadow: inset 0 0 0 3px blue;
}

#game-over {
  font-weight: normal;
  background-color: var(--water-color);
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#tutorial {
  font-weight: normal;
  background-color: var(--water-color);
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  white-space: pre-line;
  display: grid;
  grid-template-areas:
    "previous info exit"
    "previous info next";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  text-align: center;
}

.tutorial-step {
  margin: 10px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  grid-area: info;
}

.navigation-button {
  background-color: white;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

.prev-button {
  width: 7vh;
  height: 100vh;
  background-image: url("./images/button_icons/previous.svg");
  grid-area: previous;
}

.next-button {
  width: 7vh;
  height: 100vh;
  background-image: url("./images/button_icons/next.svg");
  grid-area: next;
}

#exit-button {
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 7vh;
  height: 7vh;
  z-index: 1;
  background-image: url("./images/button_icons/exit.svg");
  grid-area: exit;
}

.tutorial-step > img {
  min-height: 50px;
  max-height: 40vh;
  object-fit: contain;
  margin: 20px;
}

.rules-animation {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  max-height: 80%;
  margin: 20px 20px 0 20px;
}

.caption {
  font-style: italic;
}

.monkey {
  background-image: url("./images/button_icons/monkey_3.svg");
  flex: 1;
}

.starting {
  background-color: rgba(0, 0, 0, 0.1);
  flex: 1;
  background-image: url("./images/rule_illustrations/board_0.webp");
}

.turns {
  animation: turns-animation 6s;
  animation-timing-function: step-end;
  background-color: rgba(0, 0, 0, 0.1);
  flex: 1;
  animation-fill-mode: forwards;
}

@keyframes turns-animation {
  0% {
    background-image: url("./images/rule_illustrations/board_0.webp");
  }

  25% {
    background-image: url("./images/rule_illustrations/board_1.webp"), url("./images/rule_illustrations/board_0.webp");
  }

  50% {
    background-image:
      url("./images/rule_illustrations/board_2.webp"),
      url("./images/rule_illustrations/board_1.webp"),
      url("./images/rule_illustrations/board_0.webp");
  }

  75%,
  100% {
    background-image:
      url("./images/rule_illustrations/board_3.webp"),
      url("./images/rule_illustrations/board_2.webp"),
      url("./images/rule_illustrations/board_1.webp"),
      url("./images/rule_illustrations/board_0.webp");
  }
}

.coconut-count {
  animation: coconuts-animation 6s;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;
}

@keyframes coconuts-animation {
  0% {
    background-image: url("./images/rule_illustrations/coconut_count_0_200.webp");
  }

  25% {
    background-image:
      url("./images/rule_illustrations/coconut_count_1.svg"),
      url("./images/rule_illustrations/coconut_count_0_200.webp");
  }

  50% {
    background-image:
      url("./images/rule_illustrations/coconut_count_2.svg"),
      url("./images/rule_illustrations/coconut_count_1.svg"),
      url("./images/rule_illustrations/coconut_count_0_200.webp");
  }

  75%,
  100% {
    background-image:
      url("./images/rule_illustrations/coconut_count_3.svg"),
      url("./images/rule_illustrations/coconut_count_2.svg"),
      url("./images/rule_illustrations/coconut_count_1.svg"),
      url("./images/rule_illustrations/coconut_count_0_200.webp");
  }
}

.chest {
  background-image: url("./images/rule_illustrations/chest.webp");
}

.route {
  background-image: url("./images/rule_illustrations/route.webp");
}

.anchor {
  background-image: url("./images/rule_illustrations/route_and_anchor.webp");
}

.info {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.9);
  font-weight: normal;
}

.infoText {
  margin: 2vmax;
}

.info a {
  color: rgb(0 162 255);
}

.heart .close,
.info .close,
#home button {
  font-size: calc(var(--default-font-size) * 1.2);
  font-weight: normal;
  background-color: var(--dark-water-color);
  border: 1px solid var(--dark-water-color);
  border-radius: 5px;
  margin: 10px;
  padding: 6px 14px;
  box-shadow:
    0 0 0.5rem var(--water-color),
    inset 0 0 0.9rem var(--water-color);
}

#home {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  justify-self: center;
  justify-content: center;
}

#logo {
  align-self: center;
  width: 30vmin;
}

.pulse {
  animation: pulse 0.9s infinite ease-in-out;
  animation-delay: var(--delay);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-highlight {
  0% {
    background-color: white;
  }
}

.square.highlight {
  animation: fade-highlight 3s ease-out forwards;
}

/* Override the shared styling from MoreGames.css */
.game-image {
  width: 28vmax !important;
  height: unset !important;
  aspect-ratio: 4/7 !important;
}

/* Landscape, large screen */
@media (orientation: landscape) and (min-width: 1000px) {
  #tutorial {
    transform: scale(0.5);
    justify-content: center;
  }
}
