html {
    margin: auto;
}

body {
    font-size: 18px;  /* fallback fallback */
    font-size: 4.0vh; /* fallback */
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    --square-diameter: 50px; /* fallback fallback */
    --square-diameter: 17vmin; /* fallback */
    vertical-align: middle;
    background: linear-gradient(rgba(242, 234, 150, .5), rgba(217, 200, 43, .5)),
    url('./images/sand_texture.svg');
    background-attachment: fixed;
}

@supports (width: clamp(40px, 17vmin, 100px)) {
    body {
        --square-diameter: clamp(40px, 17vmin, 100px);
        font-size: clamp(10px, 4.0vh, 32px);
    }
}


button {
    margin-right: 10px;
    border-radius: 5px;
    font-family: inherit;
    background-color: lightgrey;
}

.game {
    display: flex;
    margin: 20px;
}

.board {
    height: calc(var(--square-diameter) * 5);
    border: 3px #44eaef solid;
    border-radius: 10px;
    background: linear-gradient(rgba(150, 200, 230, .5), rgba(150, 200, 230, .5)), url('./images/waves.svg');
    /* todo how to have bkg not linear gradient*/
    background-attachment: fixed;
}

.board-row {
    display: table;
    position: relative;
    width: calc(1px + var(--square-diameter) * 7);
}

.board-row:nth-child(1) {
    top: 0;
}

.board-row:nth-child(2) {
    top: calc(var(--square-diameter) * (-.5));
}

.board-row:nth-child(3) {
    top: calc(var(--square-diameter) * (-1));
}

.board-row:nth-child(4) {
    top: calc(var(--square-diameter) * (-1.5));
}

.board-row:nth-child(5) {
    top: calc(var(--square-diameter) * -2);
}

.board-row:nth-child(6) {
    top: calc(var(--square-diameter) * (-2.5));
}

.board-row:nth-child(7) {
    top: calc(var(--square-diameter) * (-3));
}

.board-row:nth-child(8) {
    top: calc(var(--square-diameter) * (-3.5));
}

.board-row:nth-child(9) {
    top: calc(var(--square-diameter) * (-4));
}

.droptarget {
    float: left;
    height: var(--square-diameter);
    padding: 0;
    width: var(--square-diameter);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    height: var(--square-diameter);
    width: var(--square-diameter);
}

.highlighted {
    background-color: darkblue;
    z-index: 1;
}

.square.filled {
}

.square.filled.draw-pile {
    background: url('./images/monkey_3_teal.svg'), url('./images/waves.svg');
    background-size: contain, auto;
    box-shadow: var(--deck-size);
    margin: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--square-diameter)* .5);
}

.square.filled.tile1 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile2 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile3 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile4 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile5 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile6 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile7 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile8 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile9 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile10 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile11 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile12 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile13 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile14 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile15 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile16 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile17 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile18 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile19 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.square.filled.tile20 {
    background: url('./images/trans_tile.png'), url('./images/waves.svg');
    background-size: contain, auto;
}

.offer-area {
    margin: 3px 0 0 0;
}

.offer {
    display: flex;
    flex-direction: column;
}

.offer-tile {
    margin: 0 5px 5px 0;
}

.filled.offer-tile {
    box-shadow: -4px 4px 3px -2px darkgrey;
}

.off-board {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3px 0 0 10px;
}

.off-board > * {
    margin: 0 0 10px 10px;
}

.score {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-icon {
    width: calc(var(--square-diameter) / 3);
    height: calc(var(--square-diameter) / 3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.score-icon.red {
    background-image: url('./images/red_icon.svg');
    fill: green;
}

.score-icon.blue {
    background-image: url('./images/blue_icon.svg');
}

.red-score {
    color: red;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blue-score {
    align-items: center;
    color: blue;
    font-weight: bold;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
}

.tile {
    margin: 10px;
}

.new-game-button {
    width: calc(var(--square-diameter) / 2);
    height: calc(var(--square-diameter) / 2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
    background-image: url('./images/new_game_icon.svg');
}

.rules-button {
    width: calc(var(--square-diameter) / 2);
    height: calc(var(--square-diameter) / 2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
    background-image: url('./images/rules_icon.svg');
}