html {
  display: table;
  margin: auto;
}

body {
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  margin: 20px;
  --blue_color: rgb(0,139,139);
  --red_color: rgb(220,20,60);
  --square-diameter: 50px;
  display: table-cell;
  vertical-align: middle;
}

button {
  margin-right: 10px;
  border-radius: 5px;
  font-family: inherit;
  background-color: lightgrey;
}

h1 {
  font-size: 18px;
  text-align: center;
  line-height: 1;
}

h2 {
  font-size: 16px;
  text-align: center;
  line-height: 1;
}

.game {
  display: flex;
  flex-direction: column;
  /*todo max-width: 250px;*/
}

.play-area {
    display: flex;
    flex-direction: row;
}
.board {
    /*todo min-width: 230px;*/
    max-height: 250px;
    background-image: url('./images/sea_background.png');
    background-position: center;
    background-repeat: repeat;
    background-size: calc(100%/5) calc(100%/5);
}


.board-row {
    display: table;
    position: relative;
}

.board-row:nth-child(1) {
    top: 0px;

}

.board-row:nth-child(2) {
    top: -25px;
}

.board-row:nth-child(3) {
    top: -50px;
}

.board-row:nth-child(4) {
    top: -75px;
}

.board-row:nth-child(5) {
    top: -100px;
}
.board-row:nth-child(6) {
    top: -125px;
}
.board-row:nth-child(7) {
    top: -150px;
}
.board-row:nth-child(8) {
    top: -175px;
}
.board-row:nth-child(9) {
    top: -200px;
}

.droptarget {
    float: left;
    line-height: 34px;
    height: var(--square-diameter);
    padding: 0;
    width: var(--square-diameter);
    display: flex;
    justify-content: center;
    align-items: center;

}
.square {
  height: var(--square-diameter);
  width: var(--square-diameter);
}

.highlighted {
    outline: 3px solid darkblue;
    background-color: darkblue;
    z-index: 1;
}

.square.filled {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.square.filled.draw-pile {
    background-image: url('./images/sea_background.png');
    box-shadow: var(--deck-size);
    margin: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.filled.tile1 {
    background-image: url('./images/Monkeys_Tile_1.png');
}
.square.filled.tile2 {
    background-image: url('./images/Monkeys_Tile_2.png');
}
.square.filled.tile3 {
    background-image: url('./images/Monkeys_Tile_3.png');
}
.square.filled.tile4 {
    background-image: url('./images/Monkeys_Tile_4.png');
}
.square.filled.tile5 {
    background-image: url('./images/Monkeys_Tile_5.png');
}
.square.filled.tile6 {
    background-image: url('./images/Monkeys_Tile_6.png');
}
.square.filled.tile7 {
    background-image: url('./images/Monkeys_Tile_7.png');
}
.square.filled.tile8 {
    background-image: url('./images/Monkeys_Tile_8.png');
}
.square.filled.tile9 {
    background-image: url('./images/Monkeys_Tile_9.png');
}
.square.filled.tile10 {
    background-image: url('./images/Monkeys_Tile_10.png');
}
.square.filled.tile11 {
    background-image: url('./images/Monkeys_Tile_11.png');
}
.square.filled.tile12 {
    background-image: url('./images/Monkeys_Tile_12.png');
}
.square.filled.tile13 {
    background-image: url('./images/Monkeys_Tile_13.png');
}
.square.filled.tile14 {
    background-image: url('./images/Monkeys_Tile_14.png');
}
.square.filled.tile15 {
    background-image: url('./images/Monkeys_Tile_15.png');
}
.square.filled.tile16 {
    background-image: url('./images/Monkeys_Tile_16.png');
}
.square.filled.tile17 {
    background-image: url('./images/Monkeys_Tile_17.png');
}
.square.filled.tile18 {
    background-image: url('./images/Monkeys_Tile_18.png');
}
.square.filled.tile19 {
    background-image: url('./images/Monkeys_Tile_19.png');
}
.square.filled.tile20 {
    background-image: url('./images/Monkeys_Tile_20.png');
}

.offer-area{
    display: flex;
    flex-direction: column;
}

.offer {
  margin: 0 0 5px 5px;
}

.off-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
    position: relative;
}

.score {
  font-weight: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.score-icon {
    width: 20px;
    height: 20px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-right: 5px;
}

.score-icon.red {
    background-image: url('./images/Red_Icon.png');
}

.score-icon.blue {
    background-image: url('./images/Blue_Icon.png');
}

.red-score {
  color: var(--red_color);
  font-weight: bold;
    display: flex;
    flex-direction: row;
}

.blue-score {
  color: var(--blue_color);
  font-weight: bold;
  padding-right: 50px;
    display: flex;
    flex-direction: row;
}

.controls {
  font-weight: normal;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.tile {
  margin: 10px;
}

.new-game-button {
    width: 30px;
    height: 30px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-right: 5px;
    background-image: url('./images/new_game_icon.png');
}

.rules-button {
    width: 30px;
    height: 30px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-right: 5px;
    background-image: url('./images/rules_icon.png');
}