html,body {
    height:100%;
}

#modal-root {
    position: relative;
    z-index: 999;
}

.modal {
    font-weight: normal;
    background-image: url('./images/sea_background.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tutorial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 700px;
    min-height: 20px;
    max-width: 600px;
    min-width: 250px;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.tutorial-step {
    /*max-height: 700px;*/
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    font-size: 14px; /* fall -back */
    font-size: clamp(10px, 4.0vh, 16px); /*not compatible with all browsers */
}

button {
    font-size: 18px;
    background-color: transparent;
    margin-right: 0;
    border-radius: 0;
    border: 0;
    color: gray;
}

button:disabled {
    color: darkgray;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.navigation-button {
    display: flex;
    align-items: center;
    height: 100%;
}

.exit-button {
    height: 20px;
    width: 30px;
    position: absolute;
    right: 0;
}

img {
    min-height: 50px;
    max-height: 300px;
    object-fit: contain;
    padding: 20px;
}

/*@keyframes walk {*/
/*    from { background-position: 0; }*/
/*    to { background-position: -1475px; } !* <-- width of spritesheet*!*/
/*}*/


/*.sprite {*/
/*    border: 1px red solid;*/
/*    width: calc(1475px/4); height: 167px; !* <--  size of a single frame*!*/
/*    background-image: url('./images/coconut_points_h2.png'); !* <-- url to spritesheet*!*/
/*    !*background: url('./images/coconut_points_h.png'); !* <-- url to spritesheet*!*!*/

/*    !*max-width: 25%;*!*/
/*    !*margin: 0 auto;*!*/
/*    !*transform: scale(0.1);*!*/
/*    !*background-size: 10% auto;*!*/
/*    !*zoom: 0.25;*!*/
/*    animation: walk 2s steps(4) infinite; !* <-- animation parameters, see below*!*/
/*}*/
