#modal-root {
    position: relative;
    z-index: 999;
}

.modal {
    font-size: 14px; /* fall back */
    font-size: 4.0vh;
    font-weight: normal;
    background-image: url('./images/sea_background.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon {
    height: 100px;
    margin: 10px;
}

.tutorial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.tutorial-navigation {
    color: black;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    margin: 10px;
    background-color: red;
    align-items: center;
}

button {
    background-color: transparent;
    margin-right: 0;
    border-radius: 0;
    border: 0;
    color: gray;
}

button:disabled {
    color: darkgray;
}

.navigation-button {
    display: flex;
    align-items: center;
    height: 100%;
}

.exit-button {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
}

.tutorialStep {
    overflow: hidden;
    color: black;
    display: flex;
    flex-direction: column;
}

.tutorial-text {
    margin: 10px;
}

.red_token {
    color: var(--red_color);
}

