html,
body {
  height: 100%;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  font-weight: normal;
  background-image: url("./images/waves.svg");
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tutorial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 700px;
  min-height: 20px;
  max-width: 600px;
  min-width: 250px;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.tutorial-step {
  margin: 10px 35px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  font-size: 14px; /* fall -back */
}

@supports (width: clamp(10px, 4vh, 16px)) {
  .tutorial-step {
    font-size: clamp(10px, 4vh, 16px);
  }
}

button {
  font-size: 18px;
  background-color: transparent;
  margin-right: 0;
  border-radius: 0;
  border: 0;
  color: gray;
  /*opacity: 0.5;*/
}

button:disabled {
  color: darkgray;
}

button:active {
  color: black;
  font-weight: bold;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.navigation-button {
  background-color: white;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 30px;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.exit-button {
  height: 20px;
  width: 30px;
  position: absolute;
  right: 0;
  z-index: 1;
}

img {
  min-height: 50px;
  max-height: 300px;
  object-fit: contain;
  margin: 20px;
}

.illustration {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  max-height: 80%;
  margin: 20px 20px 0 20px;
}

.caption {
  font-style: italic;
}

.monkey {
  background-image: url("./images/monkey_3.svg");
  flex: 1;
}

.starting {
  background-color: rgba(0, 0, 0, 0.1);
  flex: 1;
  background-image: url("./images/board_0.png");
}

.turns {
  animation: turns-animation 6s;
  animation-timing-function: step-end;
  background-color: rgba(0, 0, 0, 0.1);
  flex: 1;
  animation-fill-mode: forwards;
}

@keyframes turns-animation {
  0% {
    background-image: url("./images/board_0.png");
  }
  25% {
    background-image: url("./images/board_1.png"), url("./images/board_0.png");
  }
  50% {
    background-image: url("./images/board_2.png"), url("./images/board_1.png"),
      url("./images/board_0.png");
  }
  75%,
  100% {
    background-image: url("./images/board_3.png"), url("./images/board_2.png"),
      url("./images/board_1.png"), url("./images/board_0.png");
  }
}

.coconuts {
  animation: coconuts-animation 6s;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;
}

@keyframes coconuts-animation {
  0% {
    background-image: url("./images/coconut_count_0_200.png");
  }
  25% {
    background-image: url("./images/coconut_count_1.svg"),
      url("./images/coconut_count_0_200.png");
  }
  50% {
    background-image: url("./images/coconut_count_2.svg"),
      url("./images/coconut_count_1.svg"),
      url("./images/coconut_count_0_200.png");
  }
  75%,
  100% {
    background-image: url("./images/coconut_count_3.svg"),
      url("./images/coconut_count_2.svg"), url("./images/coconut_count_1.svg"),
      url("./images/coconut_count_0_200.png");
  }
}

.chest {
  background-image: url("./images/chest.png");
}

.route {
  background-image: url("./images/route.png");
}

.anchor {
  background-image: url("./images/route_and_anchor.png");
}
